@mixin topbar-dark {
  background-color: rgba(#000, 0.4);
}

@mixin sidebar-exit {
  opacity: 0;
}

@mixin box-style {
  background: #fff;
  border: 1px solid $grey-border;
  border-bottom: 1px solid darken($grey-border, 3);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

@mixin transition-bounce($timing: .3s) {
  @include transition (all $timing cubic-bezier(.3, 0, 0, 1.3));
}
