$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Basic variables
@import "variables/colors";
@import "variables/bootstrap";

// Core variables and mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "mixins/bourbon/bourbon";
@import "mixins/miscellaneous";
@import "variables/fonts";

// Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "animate-css/animate";

// Core
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Utility
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

// Design
@import "modules/global";
@import "modules/topbar";
@import "modules/sidebar";
@import "modules/layout";
@import "modules/swatches";
@import "modules/download";
@import "modules/animation";
@import "modules/icons";

// Buttons
@import "variables/buttons";


.style_code {
  padding: 20px 0 30px;
}

// Download Button

.logo-download {
  bottom: 18px;
  left: 18px;
  position: absolute;
  a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    font-size: 1.1rem;
    opacity: 0.4;
    transition: opacity 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    height: 24px;
    width: 24px;
    display: block;
    @include transition(opacity 200ms $ease-in-out-quad);
    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
    &:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 4px;
      background: url(../images/icon-download.svg) no-repeat 0 0;
      height: 16px;
      width: 12px;
    }
  }
}
.mark-container {
  .logo-download a {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
