---
layout: branding
title: Colors
description: Brand and product colors
slug: branding
more: colors
weight: 2
---

<div class="mt5">
  <h2 class="f5 sans text normal mv0 o-60">Brand Colors</h2>
  <div class="cf mb3 row">
    {% for color in site.data.brand_colors %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f-small o-60">
            <div>CMYK {{ color.cmyk }}</div>
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!--more-->

<div class="mt5">
  <h2 class="f5 sans text normal mv0 o-60">Product Colors</h2>

  <!-- main group -->
  <h3 id="product-colors-main" class="f6 sans text normal mt3 mb0 o-60">Main</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_main %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- graphs group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Graphs</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_graphs %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- graphs group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Buttons</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_buttons %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- text group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Text</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_text %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- section group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Sections</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_section %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- border group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Borders</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_border %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- icon group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Icons</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_icons %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- highlights group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Highlights</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_highlights %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Messaging group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Messaging</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_messaging %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Headers group -->
  <h3 class="f6 sans text normal mt4 mb0 o-60">Headers</h3>
  <div class="cf mb3 row">
    {% for color in site.data.product_colors_headers %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl f6 color-contrast" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 b o-90">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 f-small o-60">
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
