---
layout: branding
title: RightScale Colors
description: Brand and Product Colors
slug: branding
more: colors
weight: 2
---

<div class="mt5">
  <h2 class="f5 sans text normal mv0 o-60">Brand Colors</h2>
  <div class="cf mb3 row">
    {% for color in site.data.colors %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 f6 b white">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 white o-60">
            <div>CMYK {{ color.cmyk }}</div>
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!--more-->

<div class="mt5">
  <h2 class="f5 sans text normal mv0 o-60">Brand Colors</h2>
  <div class="cf mb3 row">
    {% for color in site.data.colors %}
      <div class="w-25 fl">
        <div class="relative h4 pa3 ml3 mt3 br1 tl" style="background-color: #{{ color.hex }}">
          <div class="absolute top-1 left-4 f6 b white">{{ color.name }}</div>
          <div class="absolute bottom-1 left-4 f6 white o-60">
            <div>CMYK {{ color.cmyk }}</div>
            <div>RGB {{ color.rgb }}</div>
            <div>#{{ color.hex }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
