// Families
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Weights
$sans-light: 300; // For lighter text
$sans-regular: 400; // Use for general text
$sans-medium: 500; // Use for bolder text on light backgrounds
$sans-semibold: 600; // Use for text that is "active" e.g. selected item in list
$sans-bold: 700; // Use for buttons, tabs and bold text on darker bakcgrounds e.g. navigation

$headline-light: 300;
$headline-regular: 400;
$headline-bold: 500;
