---
layout: landing
---

<div class="home relative">

  {% include dk-hero.html %}

  <div class="cf mt5 home-cards">
    <div class="fl w-third pr2 pv2">
      <a href="{{ site.baseurl }}/bits/">
        <div class="bg-white br1 tc home-card">
          <div class="f3 headline sans-bold mb1 home-card-heading">Bits</div>
          <p class="f5 mt0 home-card-sub">Logos, brand colors and resources</p>
          <p class="f6">Explore</p>
          <div class="home-card-icon">
            <img class="dk-icon-bits" src="/media/assets/dk-icon-bits.svg">
            {% include assets/dk-icon-bg.html %}
          </div>
        </div>
      </a>
    </div>
    <div class="fl w-third pa2">
      <a href="{{ site.baseurl }}/modules/">
        <div class="bg-black-90 br1 tc home-card">
          <div class="f3 headline sans-bold mb1 home-card-heading">Modules</div>
          <p class="f5 mt0 home-card-sub">Elements, components and utilities</p>
          <p class="f6">Explore</p>
          <div class="home-card-icon">
            <img class="dk-icon-modules" src="/media/assets/dk-icon-modules.svg">
            {% include assets/dk-icon-bg.html %}
          </div>
        </div>
      </a>
    </div>
    <div class="fl w-third pl2 pv2">
      <a href="{{ site.baseurl }}/patterns/">
        <div class="bg-black-90 br1 tc home-card">
          <div class="f3 headline sans-bold mb1 home-card-heading">Patterns</div>
          <p class="f5 mt0 home-card-sub">Common UI pattern guidelines</p>
          <p class="f6">Explore</p>
          <div class="home-card-icon">
            <img class="dk-icon-patterns" src="/media/assets/dk-icon-patterns.svg">
            {% include assets/dk-icon-bg.html %}
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
