<div class="home-hero">
  <figure class="absolute bg-art animate animate-fade animate-delay-3">
    <svg class="dk" xmlns="http://www.w3.org/2000/svg" width="81" height="42" viewBox="0 0 81 42">
      <g fill="#1c47b7" fill-rule="evenodd" id="dk-lines">
        <path d="M39.973 41H53.31v-8.493l3.42-4.16L64.54 41h15.903L66.25 18.428 80.158 1.1H64.654L53.31 16.034V1.1H39.974z"/>
        <path d="M1.28 41V1.1h15.276c15.846 0 23.77 7.81 23.77 19.608v.114C40.325 32.622 32.23 41 16.1 41H1.28zm15.56-28.272H14.62v16.644h2.223c6.1 0 10.033-2.508 10.033-8.265v-.114c0-5.757-3.933-8.265-10.032-8.265z"/>
      </g>
    </svg>

    <svg class="dk-rings" width="244px" height="244px" viewBox="0 0 244 244" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs>
            <linearGradient x1="-7.169%" y1="0%" x2="104.669%" y2="100%" id="linearGradient-1">
                <stop stop-color="#C7E0F7" offset="0%"></stop>
                <stop stop-color="#93C9FC" offset="100%"></stop>
            </linearGradient>
            <linearGradient x1="114.322917%" y1="5.14659276%" x2="-15.125%" y2="100%" id="linearGradient-2">
                <stop stop-color="#005BEA" offset="0%"></stop>
                <stop stop-color="#0079F7" offset="55.7214131%"></stop>
                <stop stop-color="#03C4FA" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="image" transform="translate(2.000000, 2.000000)">
                <circle id="Oval" stroke="#8DC6FC" stroke-width="4" cx="120" cy="120" r="120"></circle>
                <g id="a-link" transform="translate(27.000000, 29.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <circle id="a" cx="6.631" cy="6.631" r="6.631"></circle>
                </g>
                <circle id="Oval" stroke="#0080FA" stroke-width="4" cx="33.631" cy="35.631" r="4.631"></circle>
                <g id="b-link" transform="translate(197.000000, 199.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <circle id="b" cx="6.631" cy="6.631" r="6.631"></circle>
                </g>
                <circle id="Oval" stroke="#0080FA" stroke-width="4" cx="203.631" cy="205.631" r="4.631"></circle>
                <g id="Group" transform="translate(45.000000, 37.000000)" fill="url(#linearGradient-2)" fill-rule="nonzero">
                    <g id="d-link">
                        <path d="M85.915696,2.8455251 L140.048347,34.3009846 C146.209109,37.8808864 150,44.4681348 150,51.5934892 L150,114.573914 C150,121.699269 146.209109,128.286517 140.048347,131.866419 L85.915696,163.321878 C79.774241,166.890562 72.200772,166.934138 66.018657,163.436363 L10.1513086,131.827205 C3.8781669,128.277928 0,121.627828 0,114.420216 L0,51.7471875 C0,44.539575 3.8781669,37.8894757 10.1513086,34.3401981 L66.018657,2.7310403 C72.200772,-0.7667349 79.774241,-0.7231582 85.915696,2.8455251 Z" id="d"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>

    <svg class="dk-code" xmlns="http://www.w3.org/2000/svg" width="487" height="207" viewBox="0 0 487 207">
      <g fill="#8DC6FC" fill-rule="evenodd" opacity=".2">
        <rect width="237" height="10" x="16" y="36" rx="5"/>
        <rect width="100" height="10" x="36" y="179" rx="5"/>
        <rect width="182" height="10" x="82" y="161" rx="5"/>
        <rect width="200" height="10" x="22" y="126" rx="5"/>
        <rect width="160" height="10" x="68" y="90" rx="5"/>
        <rect width="200" height="10" x="43" y="54" rx="5"/>
        <rect width="100" height="10" x="54" y="18" rx="5"/>
        <rect width="100" height="10" x="253" rx="5"/>
        <rect width="100" height="10" x="220" y="197" rx="5"/>
        <rect width="100" height="10" x="145" rx="5"/>
        <rect width="100" height="10" x="171" y="72" rx="5"/>
        <rect width="45.981" height="10" x="117" y="72" rx="5"/>
        <rect width="100" height="10" x="124" y="143" rx="5"/>
        <rect width="45.981" height="10" x="70" y="143" rx="5"/>
        <rect width="45.981" height="10" x="162" y="18" rx="5"/>
        <rect width="45" height="10" y="18" rx="5"/>
        <rect width="45" height="10" x="29" y="161" rx="5"/>
        <rect width="45" height="10" x="144" y="179" rx="5"/>
        <rect width="45" height="10" x="167" y="197" rx="5"/>
        <rect width="45" height="10" x="197" y="179" rx="5"/>
        <rect width="100" height="10" x="34" y="107" rx="5"/>
        <rect width="69" height="10" x="193" y="107" rx="5"/>
        <rect width="45.981" height="10" x="142" y="107" rx="5"/>
        <rect width="180" height="10" x="259" y="36" rx="5"/>
        <rect width="100" height="10" x="279" y="179" rx="5"/>
        <rect width="100" height="10" x="325" y="161" rx="5"/>
        <rect width="200" height="10" x="265" y="125" rx="5"/>
        <rect width="160" height="10" x="311" y="90" rx="5"/>
        <rect width="190" height="10" x="286" y="54" rx="5"/>
        <rect width="100" height="10" x="297" y="18" rx="5"/>
        <rect width="60" height="8.863" x="326" y="73" rx="4.432"/>
        <rect width="70" height="8.863" x="394" y="73" rx="4.432"/>
        <rect width="45.981" height="10" x="357" y="143" rx="5"/>
        <rect width="45.981" height="10" x="405" y="18" rx="5"/>
        <rect width="45" height="10" x="243" y="18" rx="5"/>
        <rect width="45" height="10" x="272" y="161" rx="5"/>
        <rect width="100" height="10" x="387" y="179" rx="5"/>
        <rect width="100" height="10" x="277" y="107" rx="5"/>
        <rect width="45.981" height="10" x="385" y="107" rx="5"/>
      </g>
    </svg>
  </figure>
  <h1 class="page-heading ma0">Design Kit</h1>
  <p class="f4 ma0">{{site.description}}</p>
  <p class="f5 mt4 measure lh-copy">To help with the challenge of refining and maintaining our visual identity across our growing product line we’ve created this styleguide to act as a source-of-truth for our UI designers and developers. Included are color palettes, icon assets, code snippets and other goodies.</p>
</div>
