<!-- dependencies -->
<script src="{{ "/js/vendor/jquery-2.2.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/anchor.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/clipboard.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/list.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/anime.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/highlight.pack.js" | prepend: site.baseurl }}"></script>

<!-- application scripts -->
<script src="{{ "/js/color-contrast.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/clipboard.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/anchor.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/sticky-kit.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/list.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/anime.js" | prepend: site.baseurl }}"></script>
