// Animation
.ng-enter {
  animation: fadeIn 250ms;
}

.ng-enter {
  .show-color {
    animation: zoomIn 250ms;
  }
}

// Animation notes
// transition: all 700ms cubic-bezier(.62,.28,.23,.99);

.animate-in {
  -webkit-transition: -webkit-transform .85s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .85s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: -moz-transform .85s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .85s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform .85s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .85s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: -ms-transform .85s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .85s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform .85s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .85s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  -webkit-filter: alpha(opacity=0);
  -moz-filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100px) scale(0.9);
  -moz-transform: translateY(100px) scale(0.9);
  -o-transform: translateY(100px) scale(0.9);
  -ms-transform: translateY(100px) scale(0.9);
  transform: translateY(100px) scale(0.9);
}


.animate-in.delay1 {
  @include transition-delay(0.1s);
}

.animate-in.delay-cloud {
  @include transition-delay(0.8s);
}
.animate-in.delay-cloud-text {
  @include transition-delay(2s);
}

.animate-loaded .animate-in {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}


@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}

@keyframes box-underline {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes box-underline {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
