.button-list,
.button-group {
  padding: 0 0 2rem 0;
}

.button {
  @include button($default-button);
  text-shadow: 0 1px 0 rgba(255,255,255,.75); // override
  border-color: #b4bcc6;
  border-bottom-color: #9da8b4;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #e2e3e5);
  background-image: linear-gradient(#fff, #e2e3e5);
  box-shadow: inset 0 1px 0 #fff,0 1px 1px rgba(0,0,0,.15);
  &:hover {
    border-color: #8693a3;
    border-bottom-color: #8693a2;
  }
  &.primary {
    @include button($primary-button);
  }
  &.secondary {
    @include button($secondary-button);
  }
  &.destructive {
    @include button($destructive-button);
  }
  &.small {
    font-size: 11px;
    padding: 5px 8px;
  }
  &[disabled] {
    color: $text;
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      color: $text;
      background: linear-gradient(lighten($grey-button,3%), $grey-button);
    }
  }
  &.icon {
    padding-left: 3rem;
    background-repeat: no-repeat, repeat;
    background-size: 1.1rem, cover;
    background-position: 0.8rem center;
    &.download {
      background-image: url('../images/assets/icon-download-text.svg'), linear-gradient(lighten($grey-button,6%), $grey-button);
      background-position-x: 11px;
      &:hover {
        background-image: url('../images/assets/icon-download-text.svg'), linear-gradient(lighten($grey-button,6%), darken($grey-button, 6%));
      }
    }
    &.edit {
      background-image: url('../images/assets/icon-pen-text.svg'), linear-gradient(lighten($grey-button,6%), $grey-button);
      background-position-x: 11px;
      &:hover {
        background-image: url('../images/assets/icon-pen-text.svg'), linear-gradient(lighten($grey-button,6%), darken($grey-button, 6%));
      }
    }
  }
}
.button-group {
  padding-left: 0;
  @include clearfix;
  .button {
    display: inline-block;
  }
  li {
    float: left;
    list-style: none;
    border-radius: 0;
    margin-left: -1px;
    &:first-child {
      border-radius: 2px 0 0 2px;
      margin-left: 0;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;

    }
  }
}
.button_bar .button_group {
  margin-left: em(13);
}
.button_bar.left .button_group {
  margin-left: 0;
  margin-right: em(13);
}
