.button-list {
  padding-left: 0;
}

.button {
  @include button($default-button);
  text-shadow: 0 1px 0 rgba(255,255,255,.75); // override
  border-color: #b4bcc6;
  border-bottom-color: #9da8b4;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #e2e3e5);
  background-image: linear-gradient(#fff, #e2e3e5);
  box-shadow: inset 0 1px 0 #fff,0 1px 1px rgba(0,0,0,.15);
  &:hover {
    border-color: #8693a3;
    border-bottom-color: #8693a2;
  }
  &.primary {
    @include button($primary-button);
  }
  &.secondary {
    @include button($secondary-button);
  }
  &.destructive {
    @include button($destructive-button);
  }
  &.small {
    font-size: 11px;
    padding: 5px 8px;
  }
  &[disabled] {
    color: $text;
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      color: $text;
      background: linear-gradient(lighten($grey-button,3%), $grey-button);
    }
  }
}
.button_group {
  padding-left: 0;
  @include clearfix;
  .button {
    display: inline-block;
  }
  li {
    float: left;
    list-style: none;
    &:not(:first-child):not(:last-child) .button {
      border-radius: 0;
      margin-left: -1px;
    }
    &:first-child:not(:last-child) .button {
      border-radius: 2px 0 0 2px;
      margin-left: 0;
    }
    &:last-child:not(:first-child) .button {
      border-radius: 0 2px 2px 0;
      margin-left: -1px;
    }
  }
}
.button_bar .button_group {
  margin-left: em(13);
}
.button_bar.left .button_group {
  margin-left: 0;
  margin-right: em(13);
}

.icon {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  &.w_text {
    margin-right: 4px;
  }
  &.w_text.right {
    margin-left: 4px;
    margin-right: 0;
  }
  &.edit {
    background-image: url('/images/icon/edit.svg');
  }
  &.delete {
    background-image: url('/images/icon/delete.svg');
  }
}
.small {
  .icon {
    background-size: 10px;
  }
}
