// Download Button

.logo-download {
  bottom: 18px;
  left: 18px;
  position: absolute;
  a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    font-size: 1.1rem;
    opacity: 0.4;
    transition: opacity 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    height: 24px;
    width: 24px;
    display: block;
    padding: 4px 5px;
    @include transition(opacity 200ms $ease-in-out-quad);
    &:hover {
      opacity: 0.6;
    }
  }
}
.mark-container {
  .logo-download a {
    background-color: rgba(0, 0, 0, 0.3);
  }
}