h2 {
  font-family: $bariol;
  margin-bottom: 1em;
}

.flex-container {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(stretch);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  .card-columns {
    @include flex(1);
    margin: 1rem 1rem 1rem 0;
    @include box-style;
    &:hover {
      background-image: linear-gradient(#fff 65%, rgba($link, 0.09));
      box-shadow: inset 0 -4px 0px 0 rgba($link, 0.07);
      .card-details {
        background-color: rgba(#fff, 0);
      }
      h1 {
        color: $link-hover;
      }
    }
  }
}

.card {
  height: 100%;
  > a {
    @include align-items(stretch);
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    text-decoration: none;
    transition: all 250ms cubic-bezier(.62, .28, .23, .99);
    .card-details {
      transition: all 250ms cubic-bezier(.62, .28, .23, .99);
      background-color: rgba(#fff, 1);
      padding: 14px 20px;
      color: $text;
      vertical-align: middle;
    }
    h1 {
      color: $link;
      margin-bottom: rem(2);
    }
  }
}

.color-filter {
  border-bottom: 1px solid $grey-border-light;
  @include display(flex);
  @include justify-content(space-between);
}

.color-filter-radio {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 10px;
    label {
      background-color: white;
      background-size: 10px;
      background-position: 15px 50%;
      background-repeat: no-repeat;
      border: 1px solid $grey-border-light;
      color: $text;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      padding: 8px 20px 8px 30px;
      input {
        display: none;
      }
      &.selected {
        border: 1px solid $green;
        background-image: url('../images/assets/icon-check-blue.svg');
        &:hover {
          background-image: url('../images/assets/icon-close-blue.svg');
        }
      }
      &:not(.selected) {
        background-image: url('../images/ignore/icon-plus-open.svg');
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.color-filter-search {
  // float: right;
  outline: red;
  @include flex(2 1 auto);
}

.store-icons {
  margin-top: 2rem;
  .store-icon-item {
    display: block;
    border: 1px solid $grey-border-light;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    margin-bottom: 2rem;
    padding: 0.5rem;
    &.blue-background {
      background-color: $blue;
      border: 1px solid darken($blue, 3%);
      display: block;
      .store-icon-name {
        color: white;
      }
    }
    .store-preview-icon {
      padding: 2rem;
      display: block;
      @include transition-bounce;
      svg {
        width: 24px;
        height: 32px;
        vertical-align: middle;
      }
    }
    .store-icon-text {
      display: block;
      height: 25px;
    }
    .store-icon-name {
      display: block;
    }
    .store-download-link {
      display: none;
      @include justify-content(space-between);
      .store-download {
        background: $default-button url('../images/assets/icon-download-link.svg') no-repeat 10px center / auto 10px;
        border-radius: 3px;
        color: $text;
        font-size: 10px;
        font-weight: bold;
        padding: 5px 10px 5px 25px;
        &:hover {
          background: $primary-button url('../images/assets/icon-download-link-hover.svg') no-repeat 10px center / auto 10px;
          color: white;
          text-decoration: none;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 0px 2px $green;
      .store-preview-icon {
        svg {
          @include transform(scale(1.8));
          @include transition-bounce;
        }
      }
      .store-icon-name {
        display: none;
      }
      .store-download-link {
        @include display(flex);
      }
    }
  }
}
