.store-icons {
  margin-top: 2rem;
  .store-icon-item {
    display: block;
    border: 1px solid $grey-border-light;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    margin-bottom: 2rem;
    a {
      padding: 2rem;
      display: block;
      @include transition-bounce;
      svg {
        width: 12px;
        max-height: 16px;
      }
      &:hover {
        object {
          @include transform(scale(2.4));
          @include transition-bounce;
        }
      }
    }
  }
}
