@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}

.layout-landing {
  padding-top: rem(60);
  background: rgba($body, 0.5);
  .topbar {
    box-shadow: 0 0 70px 7px rgba(#fff, 0.7);
  }
  .sidebar{
    display: none;
  }
  .content {
    @extend .col-md-12;
  }
  .card-columns {
    @extend .col-md-4;
  }
  .hero {
    border-bottom: 3px solid $grey-border;
    margin-bottom: 5rem;
    text-align: center;
    position: relative;
    height: 370px;
    .cloud-svg {
      position: absolute;
      width: 40%;
      left: 30%;
      top: 20px;
      .cloud-path {
        stroke-dasharray: 0.8;
        stroke: $grey-border;
        animation: dash 1s linear infinite;
      }
    }
    .cloud-text {
      position: relative;
      top: 15rem;
    }
    h1 {
      font-size: 6rem;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 2rem;
    }
    .hero-btn {
      border: 1px solid $link;
      border-radius: 2px;
      display: inline-block;
      // margin-top: 2rem;
      padding: 6px 12px;
      font-size: 16px;
      &:hover {
        text-decoration: none;
        border-color: $link-hover;
      }
    }
  }
  .card {
    @include box-style;
    height: 90px;
    margin-bottom: 30px;
    overflow: hidden;
    > a {
      display: block;
      position: relative;
      overflow: hidden;
      height: 100%;
      text-decoration: none;
      .card-details {
        transition: all 250ms ease;
        background-color: #fff;
        padding: 14px 20px;
        color: $text;
      }
      h1 {
        color: $link;
        margin-bottom: rem(2);
      }
      &:hover {
        .card-details {
          background-color: rgba($body, 0.75);
        }
        h1 {
          color: $link-hover;
        }
      }
    }
  }
}
