.container.main-content {
  // Push footer to bottom of page using the glorious calc function
  min-height: calc(100vh - 142px);
}
section {
  article {
  }
  h1 {
    font-size: 2rem;
    line-height: 30px;
    margin-top: 1px;
  }
  .logo-container {
    background-color: $left-background-dark;
    border-radius: 1px;
    height: 250px;
    margin-bottom: 2.4rem;
    position: relative;
    text-align: center;
    width: 100%;
    @media screen and (max-width: $screen-sm) {
      height: 160px;
    }
    > img {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 72%;
    }
    &.has-main-logo {
      > img {
        width: 50%;
      }
    }
  }
  .mark-container {
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid $grey-border;
    height: 250px;
    margin-bottom: 2.4rem;
    position: relative;
    text-align: center;
    width: 100%;
    @media screen and (max-width: $screen-sm) {
      height: 160px;
    }
    > img {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
    }
  }
  .type-container {
    background-color: #fff;
    border: 1px solid $grey-border;
    border-radius: 1px;
    color: $heading;
    font-size: rem(32);
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.4rem;
    margin-bottom: 2.4rem;
    padding: 20px 15px;
    position: relative;
    &.has-helvetica {
      font-family: $helvetica;
    }
    &.has-bariol {
      font-family: $bariol;
    }
    h2 {
      color: $text;
      font-family: $helvetica;
      font-size: 12px;
      font-weight: 700;
      display: block;
      margin: 4px 0 4px;
    }
    .type-font {
      font-size: $giga;
      font-weight: 700;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid lighten($grey-border, 10%);
    }
  }
}
// For splitting out the examples of elements
.example-box {
  margin-bottom: 2rem;
  padding: 2rem;
  @include box-style;
  &.example-box-table {
    background: $body;
  }
}

.sidebar {
 @extend .col-md-2;
}

.content {
   @extend .col-md-10;
}


.footer {
  padding-top: 2rem;
  .container {
    text-align: center;
  }
  .contribute {
    border-top: 1px solid $grey-border-light;
    padding: 1.5rem;
    width: 100%;
    display: block;
    a {
      color: $grey-border;
      margin: 0 2rem;
      &:hover {
        color: $link-hover;
        svg path {
          fill: $link-hover;
        }
      }
    }
    svg {
      height: 14px;
      width: 14px;
      position: relative;
      top: 2px;
      path {
        fill: $grey-border;
      }
    }
  }
}
