.layout-patterns {
  article {
    margin-bottom: 4rem;

    img {
      width: 100%;
      &.border-light {
        border: 1px solid $grey-border-light;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.pattern-app-layout {
      margin-bottom: 4rem;
      img {
        margin-bottom: 1rem;
      }
    }

    p.small {
      opacity: 0.65;
    }

    .pattern-referenc-label {
      background-color: #E2E5E9;
      border-radius: 3px;
      padding: 2px 4px;
    }

  }

}
