.store-search {
  background-image: url('/images/icon/icon-search-grey.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 2.4rem;
  border-radius: 2px;
  border: 0px solid transparent;
  box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
  padding: 1rem;
  width: 100%;
  &:active,
  &:focus {
    box-shadow: 0 0 2px $blue inset;
    background-image: url('/images/icon/icon-search-blue.svg');
  }
}
