.sidebar-nav {
  @extend .nav;
  @extend .nav-pills;
  @extend .nav-stacked;
  @extend .hidden-sm;
  @extend .hidden-xs;
  transition: opacity 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  opacity: 1;
  font-size: 1.3rem;
  font-weight: bold;
  li > a {
    padding: 5px 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.swatch-body-0a83f6,
.swatch-body-80c11a,
.swatch-body-c32525,
.swatch-body-7355a6,
.swatch-body-f7a626
 {
  .sidebar-nav {
    opacity: 0;
  }
}