.sidebar-nav ul {
  @extend .nav;
  @extend .nav-pills;
  @extend .nav-stacked;
  @extend .hidden-sm;
  @extend .hidden-xs;
  transition: opacity 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  opacity: 1;
  font-size: 1.3rem;
  font-weight: bold;
  li {
    padding-left: 10px;
    &.active {
      box-shadow: -3px 0 0 0 $link-hover;
    }
    > a {
      padding: 5px 0;
      &:hover,
      &:focus {
        background-color: transparent;
        outline: 0;
      }
    }
  }
}
