//
// Spinners
// --------------------------------------------------

/*

1. Keyframes
├── 1.0 Disc rotate keyframe animation
└── 1.1 Dots opacity keyframe animation

2. Disc
├── 2.0 Disc base
├── 2.1 Disc size options
└── 2.2 Disc position (override to meet your design)

3. Dots
├── 3.0 Dots base
├── 3.1 Dots position
├── 3.2 Dots first dot
├── 3.3 Dots middle dot
└── 3.4 Dots last dot

*/

// 1. Keyframes
// --------------------

// 1.0 Disc rotate keyframe animation
@include keyframes(spinner-disc-rotate) {
  0% {
    @include transform(rotateZ(-360deg));
  }
  100% {
    @include transform(rotateZ(0deg));
  }
}

// 1.1 Dots opacity keyframe animation
@include keyframes(spinner-dots-fade) {
  0%,
  80%,
  100% {
    opacity: 1;

  }
  40% {
    opacity: .2;
  }
}

// 2. Disc
// --------------------

// 2.0 Disc base
.spinner-disc {
  display: block;
  width: 10px;
  height: 10px;
  &:after {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #000;
    content: '';
    opacity: .5;
    @include animation(spinner-disc-rotate 0.6s linear infinite);
  }
}

// 2.1 Disc size options
.spinner-disc.spinner-disc-sm {
  &:after {
    width: 10px;
    height: 10px;
  }
}

// 2.2 Disc position (override to meet your design)
.spinner-disc {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
}

// 3. Dots
// --------------------

// 3.0 Dots base
.spinner-dots,
.spinner-dots:before,
.spinner-dots:after {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  @include animation(spinner-dots-fade 1s infinite ease-in-out);
  @include animation-fill-mode(both);
}

.spinner-dots {

  // 3.1 Dots position
  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: '';
  }

  // 3.2 Dots first dot
  &:before {
    left: -24px;
    @include animation-delay(-0.32s);
  }

  // 3.3 Dots middle dot
  @include animation-delay(-0.16s);
  @include transform(translateZ(0));

  // 3.4 Dots last dot
  &:after {
    left: 24px;
  }

}

// 3.1 Dots position (override to meet your design)
.spinner-dots {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}
