section.sprites {
  .row {
    margin-bottom: 20px;
    padding: 2rem;

    @include box-style;
  }
  .product-filter {
    margin: 0 -15px 15px -15px;
  }
  .group-name {
    border-bottom: 1px solid $grey-border;
    margin: 0;
    padding-bottom: 1.6rem;
  }
  .group-description {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .sprite-list {
    padding: 0 1rem;

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
  }
  .sprite {
    margin: 5px 0 40px;

    @include flex(0 0 33.333%);
    @include display(flex);
    @include flex-direction(row);
    .store-download {
      background: $default-button url('../images/assets/icon-download-link.svg') no-repeat 10px center / auto 10px;
      border-radius: 3px;
      color: $text;
      font-size: 10px;
      font-weight: $sans-bold;
      padding: 5px 10px 5px 25px;
      &:hover {
        background: $primary-button url('../images/assets/icon-download-link-hover.svg') no-repeat 10px center / auto 10px;
        color: white;
        text-decoration: none;
      }
    }
    .sprite-image {
      height: 24px;
      margin-top: 6px;
      max-width: 24px;

      @include flex(1 0 auto);
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .text {
      padding-left: 12px;

      @include flex(1 1 auto);
    }
    h4.sprite-name {
      line-height: 36px;
      margin: 0 0 8px;
    }
    .sprite-download {
      border: 1px solid $grey-border;
      display: inline-block;
      opacity: .4;
      padding: 5px;

      @include transition-bounce;
      span {
        color: $text;
        padding-left: 5px;

        @include transform(scale(0));
      }
      &:hover {
        opacity: 1;
        span {
          @include transform(scale(1.8));
        }
      }
    }
    p {
      &:empty {
        display: none;
      }
    }
  }
}
