.swatch {
  border-radius: 1px;
  border: 1px solid #eceded;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 168px;
  margin-bottom: 2.4rem;
  padding: 15px;
  position: relative;
  .swatch-footer {
    opacity: 0.5;
    bottom: 15px;
    left: 15px;
    position: absolute;
  }
  &.swatch-cool-blue {
    background-color: $blue;
    border-color: darken($blue, 5);
  }
  &.swatch-lima {
    background-color: $green;
    border-color: darken($green, 5);
  }
  &.swatch-fire-engine {
    background-color: $red;
    border-color: darken($red, 5);
  }
  &.swatch-royal-purple {
    background-color: $royal-purple;
    border-color: darken($royal-purple, 5);
  }
  &.swatch-buckthorn {
    background-color: $buckthorn;
    border-color: darken($buckthorn, 5);
  }
  &.swatch-viking {
    background-color: $viking;
    border-color: darken($viking, 5);
  }
  &.swatch-mulberry {
    background-color: $mulberry;
    border-color: darken($mulberry, 5);
  }
  &.swatch-celery {
    background-color: $celery;
    border-color: darken($celery, 5);
  }
  &.swatch-indian {
    background-color: $indian;
    border-color: darken($indian, 5);
  }
  &.swatch-silver-tree {
    background-color: $silver-tree;
    border-color: darken($silver-tree, 5);
  }
  &.swatch-sean {
    background-color: $sean;
    border-color: darken($sean, 5);
  }
  &.swatch-green-button {
    background-color: $green-button;
    border-color: darken($green-button, 5);
  }
  &.swatch-blue-button {
    background-color: $blue-button;
    border-color: darken($blue-button, 5);
  }
  &.swatch-red-button {
    background-color: $red-button;
    border-color: darken($red-button, 5);
  }
  &.swatch-grey-button {
    background-color: $grey-button;
    border-color: darken($grey-button, 5);
    color: $heading;
  }
  &.swatch-link {
    background-color: $link;
    border-color: darken($link, 5);
  }
  &.swatch-link-hover {
    background-color: $link-hover;
    border-color: darken($link-hover, 5);
  }
  &.swatch-text {
    background-color: $text;
    border-color: darken($text, 5);
  }
  &.swatch-heading {
    background-color: $heading;
    border-color: darken($heading, 5);
  }
  &.swatch-left-dark {
    background-color: $left-background-dark;
    border-color: darken($left-background-dark, 5);
  }
  &.swatch-left-light {
    background-color: $left-background-light;
    border-color: darken($left-background-light, 5);
    color: $heading;
  }
  &.swatch-body {
    background-color: $body;
    border-color: darken($body, 5);
    color: $heading;
  }
  &.swatch-grey-border {
    background-color: $grey-border;
    border-color: darken($grey-border, 5);
    color: $heading;
  }
  &.swatch-grey-border-light {
    background-color: $grey-border-light;
    border-color: darken($grey-border-light, 5);
    color: $heading;
  }
  &.swatch-grey-icon {
    background-color: $grey-icon;
    border-color: darken($grey-icon, 5);
  }
  &.swatch-grey-icon-highlight {
    background-color: $grey-icon-highlight;
    border-color: darken($grey-icon-highlight, 5);
  }
  &.swatch-blue-icon {
    background-color: $blue-icon;
    border-color: darken($blue-icon, 5);
  }
  &.swatch-blue-icon-highlight {
    background-color: $blue-icon-highlight;
    border-color: darken($blue-icon-highlight, 5);
  }
  &.swatch-green-icon {
    background-color: $green-icon;
    border-color: darken($green-icon, 5);
  }
  &.swatch-sith-icon {
    background-color: $sith-icon;
    border-color: darken($sith-icon, 5);
  }
  &.swatch-hover-highlight {
    background-color: $hover-highlight;
    border-color: darken($hover-highlight, 5);
    color: $heading;
  }
  &.swatch-select-highlight {
    background-color: $select-highlight;
    border-color: darken($select-highlight, 5);
    color: $heading;
  }
  &.swatch-inline-highlight {
    background-color: $inline-highlight;
    border-color: darken($inline-highlight, 5);
    color: $heading;
  }
  &.swatch-messaging-background {
    background-color: $messaging-background;
    border-color: darken($messaging-background, 5);
    color: $messaging-text;
  }
  &.swatch-messaging-text {
    background-color: $messaging-text;
    border-color: darken($messaging-text, 5);
  }
  &.swatch-header-flat {
    background-color: $header-flat;
    border-color: darken($header-flat, 5);
  }
  &.swatch-header-gradient-start {
    background-color: $header-gradient-start;
    border-color: darken($header-gradient-start, 5);
  }
  &.swatch-header-gradient-end {
    background-color: $header-gradient-end;
    border-color: darken($header-gradient-end, 5);
  }
}
.swatch-link {
  @include transition(all 500ms ease-in-out);
  box-shadow: 0 1px 2px #eee;
  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 0 2px 4px #bbb;
    display: block;
  }
}
