.green { background-color: #80C11A; }

.blue { background-color: #0A83F6; }

.red { background-color: #C32525; }

.purple { background-color: #7355A6; }

.orange { background-color: #F7A626; }

.viking { background-color: #4FBBCD; }

.royal-purple { background-color: #7355A6; }

.mulberry { background-color: #C45887; }

.buckthorn { background-color: #F7A626; }

.celery { background-color: #B4CB55; }

.indian { background-color: #D05A5A; }

.silver-tree { background-color: #5DD08B; }

.sean { background-color: #3C8CC7; }

.green-button { background-color: #5fb000; }

.blue-button { background-color: #0871d4; }

.red-button { background-color: #C32525; }

.grey-button { background-color: #E7E7E7; }

.default-button { background-color: #E7E7E7; }

.primary-button { background-color: #5fb000; }

.secondary-button { background-color: #0871d4; }

.destructive-button { background-color: #C32525; }

.link { color: #0A83F6; }

.link-hover { color: #0769c6; }

.text { color: #76899A; }

.heading { color: #57626C; }

.left-background-dark { background-color: #353B41; }

.left-background-light { background-color: #DADEE3; }

.body-background { background-color: #F4F5F7; }

.grey-border { background-color: #D1D6DC; }

.grey-border-light { background-color: #e2e5e9; }

.grey-icon { background-color: #57626C; }

.grey-icon-highlight { background-color: #A2AFBA; }

.blue-icon { background-color: #2390F7; }

.blue-icon-highlight { background-color: #54A9F9; }

.grey-icon { background-color: #57626C; }

.sith-icon { background-color: #30373C; }

.hover-highlight { background-color: #FAFAFA; }

.select-highlight { background-color: #FAFAFA; }

.inline-highlight { background-color: #E2E5E9; }

.messaging-background { background-color: #FFF7E5; }

.messaging-text { color: #69685D; }

.header-flat { background-color: #0069CC; }

.header-gradient-start { background-color: #076CCA; }

.header-gradient-end { background-color: #065BAC; }

.black-10 { background-color: #e6e6e6; }

.black-20 { background-color: #cccccc; }

.black-30 { background-color: #b3b3b3; }

.black-40 { background-color: #999999; }

.black-50 { background-color: gray; }

.black-60 { background-color: #666666; }

.black-70 { background-color: #4d4d4d; }

.black-80 { background-color: #333333; }

.black-90 { background-color: #1a1a1a; }
