body {
  padding-top: 51px;
  font-family: $helvetica;
  color: #76899A;
}

h1, h2, h3,
h4, h5 {
  color: #57626C;
}

.wrapper {
  width: auto;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  background-color: #0069CC;
  min-height: 51px;
}

.site-title {
  float: left;
  padding: rem(17) 0 rem(10);
}

.site-nav {
  float: right;
  .page-link {
    float: left;
    display: block;
    height: 100%;
    padding: 0.8rem 0.8rem 0.8rem;
    color: #fff;
    &:hover {
      background-color: rgba(#000, 0.1);
    }
  }
}

.bits {
  .page-link-bits {
    background-color: rgba(#000, 0.1);
  }
  .typography-color {
    height: 16px;
    width: 16px;
    border-radius: 8px;
  }
}

.modules {
  .page-link-modules {
    background-color: rgba(#000, 0.1);
  }
}

.patterns {
  .page-link-patterns {
    background-color: rgba(#000, 0.1);
  }
}

.site-footer {
  font-size: 13px;
}

.page-heading {
  margin: 0;
  font-weight: normal;
}

// custom type

.f-small {
  font-size: 90%;
}

// custom selection styles

::selection {
  color: #fff;
  color: rgba(255,255,255,0.85);
  background: rgba(#353B41, 0.8);
}

// github style anchors

.anchorjs-link {
  display: inline-block;
  background: url('../media/assets/icon-link.svg') no-repeat;
  margin-left: 6px;
  margin-bottom: -2px;
  width: 18px;
  height: 16px;
}

// markdown body

.markdown-body {
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #fff;
    border: 1px solid #D1D6DC;
    shadow: 0 1px 2px rgba(black, 0.5);
    border-radius: 3px;
  }
}

// Example

.designkit-example iframe {
  border: 1px solid #D1D6DC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  width: 100%;
}


// Clipboard

.copy-color .clipboard {
  padding: 0;
  color: currentColor;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 14px;
    g {
      fill: currentColor;
    }
  }
}

.highlight {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  background: #fff;
  border: 0;
  pre {
    padding: 0;
    margin: 0;
  }
}

.home {
  .home-module {
    background-color: #353B41;
    transition: all 0.5s cubic-bezier(0.715, -0.265, 0.245, 1.345);
    &:hover {
      transform: scale(1.08);
    }
  }
  .bg-art {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -30px;
    right: 20px;
    .dk {
      position: absolute;
      top: 121px;
      right: 101px;
    }
  }
}

.collapsable {
  cursor: pointer;
  display: flex;
  &:before {
    background-image: url('../media/icons/icon-arrow-down.svg');
    background-size: 14px auto;
    content: '';
    width: 14px;
    height: 14px;
    margin: auto 0;
  }
  &.collapsed:before {
    background-image: url('../media/icons/icon-arrow-right.svg');
    background-size: 14px auto;
  }
}
