body {
  padding-top: 51px;
  font-family: $helvetica;
  color: #76899a;
}

h1, h2, h3,
h4, h5 {
  color: #57626c;
}

.wrapper {
  width: auto;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  min-height: 51px;
  background-color: #0069cc;
}

.site-title {
  float: left;
  padding: rem(17) 0 rem(10);
}

.site-nav {
  float: right;
  .page-link {
    display: block;
    float: left;
    height: 100%;
    padding: .8rem .8rem .8rem;
    color: #fff;
    &:hover {
      background-color: rgba(#000, .1);
    }
  }
}

.bits {
  .page-link-bits {
    background-color: rgba(#000, .1);
  }
  .typography-color {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}

.modules {
  .page-link-modules {
    background-color: rgba(#000, .1);
  }
}

.patterns {
  .page-link-patterns {
    background-color: rgba(#000, .1);
  }
}

.site-footer {
  font-size: 13px;
}

.page-heading {
  margin: 0;
  font-weight: normal;
}

// custom type

.f-small {
  font-size: 90%;
}

// custom selection styles

::selection {
  color: #fff;
  color: rgba(255,255,255,.85);
  background: rgba(#353b41, .8);
}

// github style anchors

.anchorjs-link {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-bottom: -2px;
  margin-left: 6px;
  background: url('../media/assets/icon-link.svg') no-repeat;
}

// markdown body

.markdown-body {
  > *:first-child {
    margin-top: 0;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin-top: 0;
    margin-bottom: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  h1 {
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
  }
  h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
  }
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
  hr {
    display: block;
    height: 2px;
    -webkit-appearance: none;
    background: #f3f3f3;
    border: 0;
    box-shadow: none;

       -moz-appearance: none;
            appearance: none;
  }
  ul {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      position: relative;
      padding-left: 18px;
      margin-bottom: 6px;
      list-style-type: none;
      &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        font-weight: 600;
        content: "-";
      }
    }
  }
}

// Example

.designkit-example iframe {
  width: 100%;
  border: 1px solid #d1d6dc;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


// Clipboard

.copy-color .clipboard {
  padding: 0;
  color: currentColor;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 14px;
    g {
      fill: currentColor;
    }
  }
}

.highlight {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  background: #fff;
  border: 0;
  pre {
    padding: 0;
    margin: 0;
  }
}

.home {
  .home-module {
    background-color: #353b41;
    transition: all .5s cubic-bezier(.715, -.265, .245, 1.345);
    &:hover {
      transform: scale(1.08);
    }
  }
  .bg-art {
    position: absolute;
    top: -9px;
    right: 7px;
    padding: 0;
    margin: 0;
    .dk {
      position: absolute;
      top: 103px;
      right: 81px;
      z-index: 2;
    }
    .dk-rings {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .dk-code {
      position: absolute;
      top: 22px;
      right: -58px;
      z-index: 0;
    }
  }
}

// Code Snippets
.highlighter-rouge {
  position: relative;
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    cursor: pointer;
    background: none;
    border: 0;
    img {
      opacity: .5;
      transition: opacity 250ms ease;
    }
  }
  &:hover {
    .btn img {
      opacity: .9;
    }
  }
}

.snippet {
  .snippet-css {
    overflow: visible;
  }
}
