body {
  font-family: $helvetica;
  color: #76899A;
}

h1, h2, h3,
h4, h5 {
  color: #57626C;
}

.wrapper {
  width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.site-header {
  background-color: #0069CC;
  min-height: 51px;
}

.site-title {
  float: left;
  padding: rem(17) 0 rem(10);
}

.site-nav {
  float: right;
  .page-link {
    float: left;
    display: block;
    height: 100%;
    padding: 0.8rem 0.8rem 0.8rem;
    color: #fff;
    &:hover {
      background-color: rgba(#000, 0.1);
    }
  }
}

.branding {
  .page-link-branding {
    background-color: rgba(#000, 0.1);
  }
}

.modules {
  .page-link-modules {
    background-color: rgba(#000, 0.1);
  }
}

.patterns {
  .page-link-patterns {
    background-color: rgba(#000, 0.1);
  }
}

.site-footer {
  font-size: 13px;
}

.page-heading {
  margin: 0;
  font-weight: normal;
}
