body {
  padding-top: 51px;
  font-family: $helvetica;
  color: #76899a;
}

h1, h2, h3,
h4, h5 {
  color: #57626c;
}

.wrapper {
  width: auto;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  min-height: 51px;
  background-color: #0069cc;
}

.site-title {
  float: left;
  padding: rem(17) 0 rem(10);
}

.site-nav {
  float: right;
  .page-link {
    display: block;
    float: left;
    height: 100%;
    padding: .8rem .8rem .8rem;
    color: #fff;
    &:hover {
      background-color: rgba(#000, .1);
    }
  }
}

.bits {
  .page-link-bits {
    background-color: rgba(#000, .1);
  }
  .typography-color {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}

.modules {
  .page-link-modules {
    background-color: rgba(#000, .1);
  }
}

.patterns {
  .page-link-patterns {
    background-color: rgba(#000, .1);
  }
}

.site-footer {
  font-size: 13px;
}

.page-heading {
  margin: 0;
  font-weight: normal;
}

// custom type

.f-small {
  font-size: 90%;
}

// custom selection styles

::selection {
  color: #fff;
  color: rgba(255,255,255,.85);
  background: rgba(#353b41, .8);
}

// github style anchors

.anchorjs-link {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-bottom: -2px;
  margin-left: 6px;
  background: url('../media/assets/icon-link.svg') no-repeat;
}

// markdown body

.markdown-body {
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #fff;
    border: 1px solid #d1d6dc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(black, .065);
  }
}

// Example

.designkit-example iframe {
  width: 100%;
  border: 1px solid #d1d6dc;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


// Clipboard

.copy-color .clipboard {
  padding: 0;
  color: currentColor;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 14px;
    g {
      fill: currentColor;
    }
  }
}

.highlight {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  background: #fff;
  border: 0;
  pre {
    padding: 0;
    margin: 0;
  }
}

.home {
  .home-module {
    background-color: #353b41;
    transition: all .5s cubic-bezier(.715, -.265, .245, 1.345);
    &:hover {
      transform: scale(1.08);
    }
  }
  .bg-art {
    position: absolute;
    top: -30px;
    right: 20px;
    padding: 0;
    margin: 0;
    .dk {
      position: absolute;
      top: 121px;
      right: 101px;
    }
  }
}

.collapsable {
  display: flex;
  cursor: pointer;
  &:before {
    width: 14px;
    height: 14px;
    margin: auto 6px;
    content: '';
    background: url('../media/icons/icon-expand.svg') no-repeat center center transparent;
    background-size: 14px auto;

    @include transform(rotate3d(0,0,1,0deg));
    @include transform-origin(center center);
  }
  &.collapsed:before {
    @include transform(rotate3d(0,0,1,-90deg));
  }
}

// sidebar nav

.sidebar-nav {
  margin-left: -8px;
  ul li {
    a {
      padding-left: 8px;
      box-shadow: inset 2px 0 0 0 currentColor;
    }
  }
}
