// bower:scss
// endbower

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import "reset";

a {
  text-decoration: none;
  color: #0080FA;
  opacity: 1;
  transition: color .15s ease-in, opacity .15s ease-in;
  &:link,
  &:visited {
    transition: color .15s ease-in;
  }
  &:hover {
    opacity: .5;
    transition: color .15s ease-in, opacity .15s ease-in;
  }
}

.container {
  width: auto;
  max-width: 1020px;
  @include padding(null 20px null 20px);
  @include margin(null auto null auto);
}

.header {
  @include padding(1rem null 1rem null);
  margin-bottom: 1.5rem;
  text-align: left;
  background-color: #0066CF;
}

.header-brand {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
}

.header-nav {
  margin-top: 1rem;
  font-size: 1rem;
  @media (min-width: 34em) {
    float: right;
    margin-top: .4rem;
  }
  a {
    display: inline-block;
    color: rgba(255,255,255,0.5);
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}
