@charset "UTF-8";

//    ______      __
//   / ____/___  / /___  __________
//  / /   / __ \/ / __ \/ ___/ ___/
// / /___/ /_/ / / /_/ / /  (__  )
// \____/\____/_/\____/_/  /____/

/*

1. Colors
├── 1.0 Brand Colors
├── 1.1 Graph Colors
├── 1.2 Button Colors
├── 1.3 Text Colors
├── 1.4 Section Colors
├── 1.5 Border Colors
├── 1.6 Icon Colors
├── 1.7 Highlight Colors
├── 1.8 Messaging Colors
└── 1.9 Header Colors

*/

// 1. Colors
// ------------------------------------------------------------

// To use variables simply add "$'variablename'" to the scss selector. E.g. background: $blue; //

// 1.0 - Brand Colors
$green: #80C11A;
$blue: #0A83F6; // 7% lighter than the blue button
$red: #c32525;
$purple: #7355a6;
$orange: #f7a626;

// 1.1 - Graph Colors
$viking: #4FBBCD;
$royal-purple: #7355A6;
$mulberry: #C45887;
$buckthorn: #F7A626;
$celery: #B4CB55;
$indian: #D05A5A;
$silver-tree: #5DD08B;
$sean: #3C8CC7;

// 1.2 - Button Colors
$green-button: #5fb000;
$blue-button: #0871d4;
$red-button: #c32525;
$grey-button: #e7e7e7;

// 1.2.1 - Button Color Variables
$primary-button : $green-button;
$secondary-button : $blue-button;
$destructive-button : $red-button;


// 1.3 - Text Colors
$link: #0A83F6;
$link-hover: darken(#0A83F6, 10%);
$text: #76899A;
$heading: #57626C;

// 1.4 - Section Colors
$left-background-dark: #353B41;
$left-background-light: #DADEE3;
$body: #F4F5F7;

// 1.5 - Border Colors
$grey-border: #D1D6DC;
$grey-border-light: lighten($grey-border,6%);

// 1.6 - Icon Colors
$grey-icon: #8596A5;
$grey-icon-highlight: #A2AFBA;
$blue-icon: #2390F7;
$blue-icon-highlight: #54A9F9;
$green-icon: #80C11A;
$sith-icon: #30373C;

// 1.7 - Highlight Colors
$hover-highlight: #FAFAFA;
$select-highlight: #FAFAFA;
$inline-highlight: #E2E5E9;

// 1.8 - Messaging Colors
$messaging-background: #FFF7E5;
$messaging-text: #939182;

// 1.9 - Header Colors
$header-flat: #0069CC;
$header-gradient-start: #076CCA;
$header-gradient-end: #065BAC;
