//
// Fonts Variables
// --------------------------------------------------

// Bariol
// --------------------

@include font-face("bariol", "../fonts/bariol_regular-webfont", normal, normal, eot woff ttf svg);
@include font-face("bariol", "../fonts/bariol_bold-webfont", bold, normal, eot woff ttf svg);