---
layout: default-bits
---

<div id="pinned" class="fl w-20 dn db-ns">
  <ul class="list-style-none mv1 f6">
    <li class="pv1">
      <a class="db" href="/bits/">Intro</a>
    </li>
    {% assign bits = site.bits | sort:"weight" %}
    {% for post in bits %}
      <li class="pv1">
        <a class="db" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="fl w-100 w-80-ns animate-fade">
  <div>
    <h1 class="page-heading">{{ page.title }}</h1>
    <p class="f5 ma0">{{ page.description }}</p>
    <div>
      {{ content }}
    </div>
  </div>
</div>
