<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.slug %} class="w-100 {{ page.slug }}"{% endif %}>

    {% include header.html %}

    <div class="page-content pv5">
      <div class="wrapper">
        <div class="cf">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/js/vendor/jquery-2.2.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/color-contrast.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/anchor.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      $(function() {
          console.log( "ready!" );
          // Anchor.js
          anchors.options = {
            icon: ''
          };
          anchors.add('.page-content h2, .page-content h3');
      });
    </script>
  </body>

</html>
