---
layout: default
---

<div id="pinned" class="fl w-20">
  <ul class="mv1 f6">
    {% assign modules = site.modules | sort:"weight" %}
    {% for post in modules %}
      <li class="pv1">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="fl w-100 w-80-ns animate-fade">
  <div>
    <h1 class="page-heading">{{ page.title }}</h1>
    <p class="f5 ma0">{{ page.description }}</p>
    <div class="cf mt3 o-50">
      {% if page.github %}
      <div class="fl mr2">
        <a class="dim link" href="{{ page.github }}">{% include assets/icon-github.html %}</a>
      </div>
      {% endif %}
      {% if page.npm %}
      <div class="fl">
        <a class="dim link" href="{{ page.npm }}">{% include assets/icon-npm.html %}</a>
      </div>
      {% endif %}
    </div>
    <div class="markdown-body">
      {{ content }}
    </div>
  </div>
</div>
