---
layout: default
---

<div id="pinned" class="fl w-20">
  <ul class="mv1 f6">
    {% assign modules = site.modules | sort:"weight" %}
    {% for post in modules %}
      <li class="pv1">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="fl w-80 animate-fade">
  <div>
    <h1 class="page-heading">{{ page.title }}</h1>
    <p class="f3 ma0">{{ page.description }}</p>
    <p class="f6 ma0"><a href="{{ page.npm }}">{{ page.npm }}</a></p>
    <p class="f6 ma0"><a href="{{ page.github }}">{{ page.github }}</a></p>
    <p class="f6 ma0"><a href="{{ page.example }}">{{ page.example }}</a></p>
    <div class="markdown-body">
      {{ content }}
    </div>
  </div>
</div>
