---
layout: default-markdown
---

<div id="pinned" class="fl w-20">
  <ul class="mv1 f6">
    <li class="pv1">
      <a class="db" href="/modules">Intro</a>
    </li>
    {% assign modules = site.modules | sort:"weight" %}
    {% for post in modules %}
      <li class="pv1">
        <a class="db" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<article class="fl w-100 w-80-ns animate-fade">
  <div>
    <header>
      <h1 class="page-heading">{{ page.title }}</h1>
      <p class="f5 mt0 mb4 measure">{{ page.description }}</p>
    </header>
    <div class="mt3 mb4">
      <div class="w-100 mb4 bb bw2 b--black-05">
        <section class="flex flex-wrap w-80 mt0 pb3 meta f6">
          <div class="flex flex-row w-50 pv1">
            <div class="flex w-25">Source</div>
            <div class="flex flex-auto">
              <a class="dim link" href="{{ page.source }}">Github</a>
            </div>
          </div>
          <div class="flex flex-row w-50 pv1">
            <div class="flex w-25">NPM</div>
            <div class="flex flex-auto">
              <a class="dim link" href="{{ page.npm }}">{{ page.name }}</a>
            </div>
          </div>
          <div class="flex flex-row w-50 pv1">
            <div class="flex w-25">Version</div>
            <div class="flex flex-auto">{{ page.version }}</div>
          </div>
          <div class="flex flex-row w-50 pv1">
            <div class="flex w-25">Updated</div>
            <div class="flex flex-auto">{{ page.updated }}</div>
          </div>
        </section>
      </div>
      <div class="markdown-body">
        {{ content }}
      </div>
    </div>
  </div>
</article>
