<section>
  <div class="row">
    <div class="col-md-12">
      <div class="example-box">
      <h4 class="box-title">Individual</h4>
        <ul class="button-list">
          <li class="button primary">Primary</li>
          <li class="button secondary">Secondary</li>
          <li class="button destructive">Destructive</li>
          <li class="button blank">Blank</li>
          <li class="button blank" disabled>Disabled</li>
          <li class="button small">Small</li>
        </ul>
      <h4 class="box-title">Group</h4>
        <ul class="button-group">
          <li class="button">Button</li>
          <li class="button">Button</li>
          <li class="button">Button</li>
          <li class="button">Button</li>
          <li class="button">Button</li>
          <li class="button">Button</li>
        </ul>
      <h4 class="box-title">Icons</h4>
      <span class="button icon download">Download</span>
      <span class="button icon edit">Edit</span>
      </div>
    </div>
  </div>
</section>
