<section ng-controller="ColorsCtrl">
  <article ng-repeat="(key, value) in colors | groupBy: 'section'">
    <h1>{{ key }}</h1>
    <div class="row">
      <div class="col-md-2" ng-repeat="color in value">
        <a ng-href="#/colors/{{ color.item.hex }}" class="swatch-link">
          <div class="swatch {{ color.item.selector }}">
            {{ color.item.name }}
            <span class="swatch-footer">{{ color.item.hex }}</span>
          </div>
        </a>
      </div>
    </div>
  </article>
</section>