<section>
  <article>
    <h1>Brand Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-cool-blue">
          Cool Blue
          <span class="swatch-footer">#0A83F6</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-lima">
          Lima Green
          <span class="swatch-footer">#80C11A</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-fire-engine">
          Fire Engine Red
          <span class="swatch-footer">#C32525</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-royal-purple">
          Royal Purple
          <span class="swatch-footer">#7355A6</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-buckthorn">
          Buckthorn Orange
          <span class="swatch-footer">#F7A626</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Graph Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-viking">
          Viking
          <span class="swatch-footer">#54BBCC</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-royal-purple">
          Royal Purple
          <span class="swatch-footer">#7257A4</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-mulberry">
          Mulberry
          <span class="swatch-footer">#C25A87</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-buckthorn">
          Buckthorn Orange
          <span class="swatch-footer">#F5A538</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-celery">
          Celery
          <span class="swatch-footer">#B4CA5D</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-indian">
          Indian
          <span class="swatch-footer">#CE5B5C</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-silver-tree">
          Silver Tree
          <span class="swatch-footer">#62CF8D</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-sean">
          Sean
          <span class="swatch-footer">#408DC5</span>
        </div>
      </div>
    </div>
  </article>
  <article>
    <h1>Button Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-green-button">
          Green Buttons
          <span class="swatch-footer">#5FB000</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-blue-button">
          Blue Button
          <span class="swatch-footer">#0871D4</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-red-button">
          Red Button
          <span class="swatch-footer">#C32525</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-grey-button">
          Grey Button
          <span class="swatch-footer">#E7E7E7</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Text Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-link">
          Link
          <span class="swatch-footer">#0A83F6</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-link-hover">
          Link Hover
          <span class="swatch-footer">#0769C6</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-text">
          Text
          <span class="swatch-footer">#76899A</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-heading">
          Heading
          <span class="swatch-footer">#57626C</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Section Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-left-dark">
          Left Background (Sith)
          <span class="swatch-footer">#353B41</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-left-light">
          Left Background (Light)
          <span class="swatch-footer">#DADEE3</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-body">
          Body
          <span class="swatch-footer">#F4F5F7</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Border Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-grey-border">
          Grey Border (Dark)
          <span class="swatch-footer">#D1D6DC</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-grey-border-light">
          Grey Border (Light)
          <span class="swatch-footer">#E2E5E9</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Icon Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-grey-icon">
          Grey Icon
          <span class="swatch-footer">#8596A5</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-grey-icon-highlight">
          Grey Icon (Highlight)
          <span class="swatch-footer">#A2AFBA</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-blue-icon">
          Blue Icon
          <span class="swatch-footer">#2390F7</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-blue-icon-highlight">
          Blue Icon (Highlight)
          <span class="swatch-footer">#54A9F9</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-green-icon">
          Green Icon
          <span class="swatch-footer">#80C11A</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-sith-icon">
          Sith Icon
          <span class="swatch-footer">#30373C</span>
        </div>
      </div>
  </article>
  <article>
    <h1>Highlight Colors</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="swatch swatch-hover-highlight">
          Hover Highlight
          <span class="swatch-footer">#FAFAFA</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-select-highlight">
          Select Highlight
          <span class="swatch-footer">#FAFAFA</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="swatch swatch-inline-highlight">
          Inline Highlight
          <span class="swatch-footer">#E2E5E9</span>
        </div>
      </div>
  </article>
</section>
