<div class="example-box">
  <div class="example-box-header">
    <h2>Labels</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Status</h3>
      <div class="clearfix">
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
      </div>
    </div>
  </div>
</div>
