<section ng-controller="IconsCtrl">
  <article>
    <h1>Icons</h1>
    <div class="clearfix">
      <input ng-model="searchText">
    </div>
    <div class="row store-icon">
      <div class="col-md-2" ng-repeat="icon in icons | filter:searchText">
        <div class="store-icon-item">
          <span>Icon</span>
          <span class="item-name">{{ icon.item.name }}</span>
          <span class="item-src"><a ng-href="{{ icon.item.src }}">Download</a></span>
        </div>
      </div>
    </div>
  </article>
</section>