<section ng-controller="IconsCtrl">
  <article>
    <h1>Icons</h1>
    <div class="clearfix">
      <input ng-model="searchText" class="store-search" placeholder="Filter by name">
    </div>
    <ul class="color-filter">
      <li ng-repeat="color in colors">
        <label ng-class="{selected: colors.selected === color}">
          <input type="radio" name="color" ng-model="colors.selected" ng-value="color">
          {{ color.name }}
        </label>
      </li>
    </ul>
    <div class="row store-icons">
      <div class="col-md-2" ng-repeat="icon in icons | filter:searchText">
        <div class="store-icon-item">
          <downloadable-icon src="{{ icon.item.src }}" name="{{ icon.item.name }}" class="{{ colors.selected.class }}" color="{{ colors.selected.hex }}"></downloadable-icon>
        </div>
      </div>
    </div>
  </article>
</section>
