<section>
  <div class="clearfix">
    <div class="hero animate-in">
      <div class="cloud-svg animate-in delay-cloud">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.1 206.7"><g id="XMLID_18_"><path id="XMLID_37_" class="cloud-path" stroke-width="0.2" stroke-dasharray="1" fill="rgba(255,255,255,0.4)" d="M255.1 93.9C255.1 46.6 215.3 0 168 0c-34.3 0-63.2 22.7-77.3 52.1-6.7-4.9-15.3-8.6-24.5-8.6-21.4.7-39.8 17.8-39.8 40.5 0 3.7.6 8.6 1.8 11.7C11 105.5 0 124.5 0 146c0 31.9 23.9 60.1 55.8 60.7h179.1c31.9 0 55.2-27.6 55.2-58.9.6-23.9-14.1-44.2-35-53.4v-.5z"/></g><g id="path4828_1_"><path id="XMLID_30_" class="cloud-path bolt" stroke-width="0.2" stroke-dasharray="1" fill="#F4F5F7" d="M165.2 47.9L109 103.7l30.3 1-48.1 46.6 20.4.4-33.8 36.4 81.6-44.4-30.4.3 61.5-47.8-33.3-.1 54.6-49.7z"/></g></svg>
      </div>
      <div class="cloud-text animate-in delay-cloud-text">
        <h1>Design Kit</h1>
        <p>An internal guide and toolkit for designing RightScale apps.</p>
        <a href="#/logos" class="hero-btn">Explore</a>
      </div>
    </div>
  </div>
  <div class="row animate-in delay1">
    <div class="card-columns" ng-repeat="card in cards">
      <div class="card">
        <a ng-href="#/{{ card.title | lowercase }}">
          <div class="card-details">
            <h1>{{ card.title }}</h1>
            <p>{{ card.details }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
