<section class="clearfix">

  <h1>Main Logo</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="logo-container">
        <img src="/images/ss-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
  </div>

  <h1>Product Logos</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="logo-container">
        <img src="/images/ss-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
    <div class="col-md-4">
      <div class="logo-container">
        <img src="/images/ss-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
    <div class="col-md-4">
      <div class="logo-container">
        <img src="/images/ss-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
  </div>

  <h1>Product Marks</h1>

</section>
