<section>
  <h1>Main Logo</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="logo-container has-main-logo">
        <img src="/images/main-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
  </div>
  <h1>Product Logos</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="logo-container has-ss-logo">
        <img src="/images/ss-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
    <div class="col-md-4">
      <div class="logo-container has-api-logo">
        <img src="/images/api-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
    <div class="col-md-4">
      <div class="logo-container has-docs-logo">
        <img src="/images/docs-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="logo-container has-api-logo">
        <img src="/images/cm-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
    <div class="col-md-6">
      <div class="logo-container has-api-logo">
        <img src="/images/ca-logo.svg" alt="RightScale Self Service">
      </div>
    </div>
  </div>
  <h1>Product Marks</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="mark-container">
        <img src="/images/cm-mark.svg">
      </div>
    </div>
    <div class="col-md-4">
      <div class="mark-container">
        <img src="/images/ca-mark.svg">
      </div>
    </div>
    <div class="col-md-4">
      <div class="mark-container">
        <img src="/images/ss-mark.svg">
      </div>
    </div>
  </div>
</section>
