<ul>
  <li ng-class="{active: isActive('/logos')}"><a ng-href="#/logos">Logos</a></li>
  <li ng-class="{active: isActive('/icons')}"><a ng-href="#/icons">Icons</a></li>
  <li ng-class="{active: isActive('/colors')}"><a ng-href="#/colors">Colors</a></li>
  <li ng-class="{active: isActive('/typography')}"><a ng-href="#/typography">Typography</a></li>
  <li ng-class="{active: isActive('/sprites')}"><a ng-href="#/sprites">Sprites</a></li>
  <li ng-class="{active: isActive('/tables')}"><a ng-href="#/tables">Tables</a></li>
  <li ng-class="{active: isActive('/components')}"><a ng-href="#/components">Components</a></li>
  <li ng-class="{active: isActive('/patterns')}"><a ng-href="#/patterns">Patterns</a></li>
</ul>
