<ul>
  <li ng-class="{active: isActive('/logos')}"><a ng-href="#/logos" ng-click="toggleSubMenu();">Logos</a></li>
  <li ng-class="{active: isActive('/colors')}"><a ng-href="#/colors" ng-click="toggleSubMenu();">Colors</a></li>
  <li ng-class="{active: isActive('/typography')}"><a ng-href="#/typography" ng-click="toggleSubMenu();">Typography</a></li>
  <li ng-class="{active: isActive('/icons')}"><a ng-click="toggleSubMenu('icons');" ng-href="#/icons">Icons</a> </li>
  <ul ng-show="showSubmenu" class="sub-nav-list">
    <li ng-class="{active: isActive('/icons/elemental')}"><a href="#/icons/elemental">Elemental</a></li>
    <li ng-class="{active: isActive('/icons/representative')}"><a href="#/icons/representative">Representative</a></li>
    <li ng-class="{active: isActive('/icons/actionable')}"><a href="#/icons/actionable">Actionable</a></li>
  </ul>
  <li ng-class="{active: isActive('/tables')}"><a ng-href="#/tables" ng-click="toggleSubMenu();">Tables</a></li>
  <li ng-class="{active: isActive('/buttons')}"><a ng-href="#/buttons" ng-click="toggleSubMenu();">Buttons</a></li>
  <li ng-class="{active: isActive('/forms')}"><a ng-href="#/forms" ng-click="toggleSubMenu();">Forms</a></li>
</ul>
