<section class="sprites" ng-controller="SpritesCtrl">
  <div class="row" ng-repeat="spriteGroup in spriteGroups">
    <h3 class="group-name">{{ spriteGroup.group.name }}</h3>
    <p class="group-description">{{ spriteGroup.group.description }}</p>
    <div class="sprite-list {{ group }}">
      <div class="sprite col-md-4" ng-repeat="sprite in spriteGroup.sprites">
        <img src="{{ sprite.src }}" alt="{{ sprite.name }}">
        <span class="text">
          <h4 class="sprite-name">{{ sprite.name }}</h4>
          <p class="sprite-description">{{ sprite.description }}</p>
        </span>
      </div>
    </div>
  </div>
</section>
