<section class="sprites" ng-controller="SpritesCtrl">
  <div class="row" ng-repeat="spriteGroup in spriteGroups">
    <h3 class="group-name">{{ spriteGroup.group.name }}</h3>
    <p class="group-description">{{ spriteGroup.group.description }}</p>
    <div class="sprite-list {{ group }}">
        <div class="sprite" ng-repeat="sprite in spriteGroup.sprites">
          <img ng-src="{{sprite.src}}" alt="{{ sprite.name }}" class="sprite-image">
          <span class="text">
            <h3 class="sprite-name">{{ sprite.name }}</h3>
            <p class="sprite-description">{{ sprite.description }} <a href="{{ sprite.src }}">Download SVG</a></p>
          </span>
        </div>
    </div>
  </div>
</section>
