<section>
  <div class="row">
    <div class="col-md-12">
      <div class="example-box example-box-table">
        <div class="table-wrapper">
          <table class="example-table">
            <tr>
              <th><a href="#">Title</a></th>
              <th><a href="#">Description</a></th>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Fringilla</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Cras</a></td>
              <td>Donec sed odio dui.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Ridiculus Nullam</a></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Inceptos Lorem</a></td>
              <td>Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Maecenas_sed_diam_eget_risus_varius_blandit_sit_amet_non_magna</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
            </tr>
          </table>
        </div>
        <div class="table-wrapper">
          <header class="table-filter">
            <div class="table-filter-search">
              <input type="search" placeholder="Filter results"></input>
            </div>
            <div class="table-filter-options">
              <span class="table-filter-number">Showing <i>X</i> of <i>Y</i></span>
              <span class="table-filter-dropdown"><a href="#"><img src="images/assets/icon-cog.svg" alt=""></a></span>
            </div>
          </header>
          <table class="example-table">
            <tr>
              <th><input type="checkbox"></th>
              <th class="sortable-column"><a href="#">Title</a></th>
              <th><a href="#">Description</a></th>
              <th class="sortable-column" class="table-image"><a href="#">State</a></th>
            </tr>
            <tr ng-repeat="row in tableRows" ng-class="{ 'selected-row': row.isSelected }">
              <td><input type="checkbox" ng-model="row.isSelected"></td>
              <td><a href="#" class="nowrap">{{row.title}}</a></td>
              <td>{{row.description}}</td>
              <td class="table-image"><img src={{row.state}} alt="Alternate Title"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
