<section>
  <article>
    <h1>Typefaces</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="type-container has-bariol">
          <div>
            <h2>Headings (h1, h2, h3... etc)</h2>
            <div class="type-font">Bariol</div>
            Abcde <br>
            1234
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="type-container has-helvetica">
          <div>
            <h2>Body Copy</h2>
            <div class="type-font">Helvetica Neue</div>
            Abcde <br>
            1234
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
