<section>
  <article>
    <h1>Typefaces</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="type-container has-bariol">
          <div>
            <span>Headings (h1, h2, h3... etc)</span>
            <strong>Bariol</strong> <br>
            Abcde <br>
            1234
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="type-container has-helvetica">
          <div>
            <span>Body Copy</span>
            <strong>Helvetica Neue</strong> <br>
            Abcde <br>
            1234
          </div>
        </div>
      </div>
    </div>
  </article>
</section>