<section>
  <article>
    <div class="row">
      <div class="col-md-6">
        <div class="type-container has-bariol">
          <div>
            <h2>Headings</h2>
            <div class="type-font">Bariol</div>
            <div class="example-type">
              <h1><code>h1</code><span>Commodo Fermentum</span></h1>
              <h2><code>h2</code><span>Sit Dolor Amet Egestas</span></h2>
              <h3><code>h3</code><span>Fusce Adipiscing Cursus Commodo Purus</span></h3>
              <h4><code>h4</code><span>Malesuada Justo Pellentesque Ullamcorper Dolor</span></h4>
              <h5><code>h5</code><span>Cursus Commodo Fermentum Ultricies Fringilla</span></h5>
              <h6><code>h6</code><span>Lorem Pharetra Mollis Tortor Vulputate</span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="type-container has-helvetica">
          <div>
            <h2>Body Copy</h2>
            <div class="type-font">Helvetica Neue</div>
            <div class="example-type">
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
