<section>
  <h1>UI Elements</h1>
  <div class="row">
    <div class="col-md-12">
    <h2>Buttons</h2>
      <div class="example-box">
        <ul>
          <li class="button primary">Primary</li>
          <li class="button secondary">Secondary</li>
          <li class="button destructive">Destructive</li>
          <li class="button blank">Blank</li>
          <li class="button blank" disabled>Disabled</li>
        </ul>
        <ul>
          <li class="button small">Small</li>
          <li class="button large">Large</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <h2>Forms</h2>
      <div class="example-box">
        <div class="form-input">
          <label for="usr">Label for Input:</label>
          <input type="text" class="" placeholder="Placeholder for Input">
        </div>
        <div class="form-input">
          <label for="usr">Label for Input:</label>
          <input type="text" class="active" placeholder="Placeholder for Hover">
        </div>
        <div class="form-input">
          <label for="usr" class="disabled">Label for Input:</label>
          <input type="text" placeholder="Placeholder for Active" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Checkboxes</h2>
        <div class="example-box">
          <div class="checkbox_wrap">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox" class="checkbox_label">Label</label>
          </div>
          <div class="checkbox_wrap">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox" class="checkbox_label">Label</label>
          </div>
          <div class="checkbox_wrap">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox" class="checkbox_label">Label</label>
          </div>
          <div class="checkbox_wrap">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox" class="checkbox_label">Label</label>
          </div>
          <br />
          <div class="checkbox_wrap checkbox_indeterminate">
            <input type="checkbox" id="indeterminate" />
            <label for="indeterminate" class="checkbox_label">Indeterminate</label>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Radio Buttons</h2>
        <div class="example-box">
          <div class="radio">
            <label><input type="radio" name="optradio">Standard option</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" checked>Pre-selected option</label>
          </div>
          <div class="radio disabled">
            <label clas><input type="radio" name="optradio" disabled>Disabled option</label>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Select Box</h2>
        <div class="example-box">
          <div class="form-input">
          <label for="sel1">Super awesome folks:</label>
          <select class="" id="sel1">
            <option>Mihir</option>
            <option>Josh</option>
            <option>Allan</option>
            <option>Jason</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Tables</h2>
      <div class="example-box example-box-table">
        <div class="table-wrapper">
          <table class="example-table">
            <tr>
              <th><a href="#">Title</a></th>
              <th><a href="#">Description</a></th>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Fringilla</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Cras</a></td>
              <td>Donec sed odio dui.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Ridiculus Nullam</a></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Inceptos Lorem</a></td>
              <td>Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
            </tr>
            <tr>
              <td><a href="#" class="nowrap">Maecenas_sed_diam_eget_risus_varius_blandit_sit_amet_non_magna</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
            </tr>
          </table>
        </div>
        <div class="table-wrapper">
          <header class="table-filter">
            <div class="table-filter-search">
              <input type="search" placeholder="Filter results"></input>
            </div>
            <div class="table-filter-options">
              <span class="table-filter-number">Showing <i>X</i> of <i>Y</i></span>
              <span class="table-filter-dropdown"><a href="#"><img src="images/assets/icon-cog.svg" alt=""></a></span>
            </div>
          </header>
          <table class="example-table">
            <tr>
              <th><input type="checkbox"></th>
              <th class="sortable-column"><a href="#">Title</a></th>
              <th><a href="#">Description</a></th>
              <th class="sortable-column" class="table-image"><a href="#">State</a></th>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="#" class="nowrap">Fringilla</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</td>
              <td class="table-image"><img src="images/assets/icon-server-green.svg" alt="Alternate Title"></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="#" class="nowrap">Cras</a></td>
              <td>Donec sed odio dui.</td>
              <td class="table-image"><img src="images/assets/icon-server-orange.svg" alt="Alternate Title"></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="#" class="nowrap">Ridiculus Nullam</a></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</td>
              <td class="table-image"><img src="images/assets/icon-server-red.svg" alt="Alternate Title"></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="#" class="nowrap">Inceptos Lorem</a></td>
              <td>Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
              <td class="table-image"><img src="images/assets/icon-server-warning.svg" alt="Alternate Title"></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="#" class="nowrap">Maecenas_sed_diam_eget_risus_varius_blandit_sit_amet_non_magna</a></td>
              <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
              <td class="table-image"><img src="images/assets/icon-server-green.svg" alt="Alternate Title"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
