<section>
  <h1>UI Elements</h1>
  <div class="row">
    <div class="col-md-12">
    <h2>Forms</h2>
      <div class="form-input">
        <label for="usr">Label for Input:</label>
        <input type="text" class="form-control" placeholder="Placeholder for Input">
      </div>
      <div class="form-input">
        <label for="usr">Label for Input:</label>
        <input type="text" class="form-control hover" placeholder="Placeholder for Input">
      </div>
      <div class="form-input">
        <label for="usr">Label for Input:</label>
        <input type="text" class="form-control active" placeholder="Placeholder for Input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Checkboxes</h2>
       <div class="checkbox">
          <label><input type="checkbox" value="">Option 1</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Option 2</label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>Option 3</label>
        </div>
    </div>
  </div>
</section>
